<div class="top-container">
<nav>
  <div class="site-title">
    <a href="/"><h4>BLOGBOX</h3></a>
    
  </div>
  <ul>
    <li><a href="/">All Blogs</a></li> 
    <li><a href="/blogs/create">Create +</a></li>
  </ul>
</nav>

<div class="top">
  <div class="site-title">
    <a href="/"><h2 style="text-align: center; color: #87AAAA; ">CREATE YOUR OWN</h2><h1>Blog</h1> </a>
    
  </div>
  <br>
   
  <div class="button">  <a href="/blogs/create">Create > </a> </div>
  

</div>
</div>