    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
 /*body tag*/  
 body{
     
      padding: 5px;
      font-family: 'Rubik', serif;
      background-image: url("top-bg1.jpg");
      background-size: cover;
   }
/* nav tags*/
    .site-title h4{
      font-family: 'Montserrat', 'serif';
      color: white;
      font-weight: 100;
      margin-top: 0;
    }

    nav{
      display: flex;
      justify-content: space-between;
      padding: 5px;
     
    }
    nav ul{
      margin-right: 10px;
      display: flex;
      justify-content: space-between;
      align-items:flex-start;
      
    }
    nav li{
      list-style-type: none;
      margin-left: 20px;
    }
    nav a:hover{
      color: white;
    }
    /* main-header tags */
    p, h1, h2, h3, a, ul{
      text-decoration: none;
      color: #87AAAA;
    }
    
    .site-title h2,h1{
      margin: 5px;
      font-weight: 200;
    }
 

    .site-title{
      display: inline;
     letter-spacing: 5px;
      font-size:larger;
      margin-bottom: 15px;
    }

    .site-title h1{
   font-family: 'Montez';
   text-transform:none;
   font-size:50px;
    }

    .site-title h2{
      font-size:xx-large;
    }
    .top{
      text-align: center;
      justify-content: space-between;
      margin: 20px;
      padding: 10px;
      text-transform: uppercase;
    }

    .button {
      padding: 5px 15px;
      height: 20px;
      width: 80px;
      text-align: center;
      margin: 10px auto;
      border: 2px solid white;
      border-radius: 40px;
      background-color: white;
      color: #000000;
      position: relative;
      box-shadow: 0px 6px 10px -4px white;
      cursor: pointer;
      overflow: hidden;
    }

    .button a{
      color: #041C32;
    }
    .button:hover{
      background-color: #064663;
      color: white;
      border-color: #064663;
      box-shadow: 0px 6px 10px -4px black; 
      
    }
 
    /*all - blog tags*/
    .blog-head {
    
      text-align: center;
      margin: 6px auto;
      padding: 5px;
      color: white;
      border-bottom: 8px dotted #B5DEFF;
      width: 15%;
    }

    h2{
      font-weight: 200;
    }
    .blogs{
     margin: 20px;
      display:flex;
      flex-wrap: wrap;
      font-size: 15px;
      
    }

    .blogs a{
     background-color:#064663;
      margin: 5px;
      width: 400px ;
      padding-bottom: 15px;
      border-bottom-right-radius: 15px;
      box-shadow: 0px 3px 10px -4px black; 
    }

    .title{
      padding: 15px;
      margin: 0;
      color: #041C32;
      text-align: center;
      background-color: #ECB365;
    }

    .name{
      color:#041C32;
      margin-top:5px;
      text-align: right;
    }

    .snippet{
      color: honeydew;
      padding: 5px;
      word-wrap: break-word;
      font-weight:100;
    }

      
    /* create styles */
    .create-blog form{
      max-width: 400px;
      margin: 0 auto;
    }
    .create-blog input,
    .create-blog textarea{
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 8px;
    }
    .create-blog label{
      display: block;
      margin-top: 24px;
      font-family: 'Montserrat', 'serif';
      color: white;
      font-weight: 500;
    }
    textarea{
      height: 120px;
    }
    .create-blog button{
      margin: 20 auto;
      font-family: 'Dancing Script';
      background: #04293A;
      color: white;
      padding: 8px;
      border: 0;
      font-size: 1.2em;
      cursor: pointer;
      text-align: center;
    }

    .create-blog content{
    margin: 50px auto 0;
    padding:30px;
    box-sizing: border-box;   
    box-shadow: 0 -5px 15px -8px #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 30px;
    border-radius: 5px;
    text-align: center;
    }

    .details h2{
      color: #ECB365;
      text-align: center;
      text-transform: capitalize;
    }
    footer{
      color: rgb(186, 186, 186);
      text-align: center;
      margin: 80px auto 20px;
    }